#loading {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#loading > h1 {
    width: 100%;
    margin: auto;
}

.img-loading {
    margin: auto;
    max-width: 400px;
    max-height: 400px;
}

.img-loading > img {
    width: 100%;
    height: auto;
}

#main {
    display: none;
}

.score-container {
    margin-top: 40px;
}

.score {
    font-size: 18px;
}

.total-score {
    font-weight: bold;
}

#pose-status {
    font-size: 24px !important;
}

button {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border-style: solid;
    transition: 0.2s;
    text-align: center;
    box-shadow: none;
}

button:hover {
    cursor: pointer;
}

#toggleModel {
    color: black;
    background-color: white;
    border-color: black;
}

#toggleModel:hover {
    color: white;
    background-color: black;
}

#btnNewModel {
    color: white;
    background-color: rgb(73, 61, 240);
    border-color: rgb(73, 61, 240);
}

#btnNewModel:hover {
    color: rgb(73, 61, 240);
    background-color: white;
}

#img-example {
    width: 360px;
    height: 360px;
}