<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css" type="text/css">
  <title>Pose Minigame</title>
</head>

<body>
  <div class="container">
    <div class="text-title">
      <h1>Sports Minigame</h1>
    </div>
    <div class="card-container">
      <!-- Pose Match Game -->
      <div class="card">
        <div class="card-title">
          Match the Pose
        </div>
        <div class="card-description">
          <div class="card-description-title">Instructions</div>
          <ol>
            <li>
              Follow the pose as good as you can.
            </li>
            <li>
              Keep the matched pose until the timer hit 0.
            </li>
            <li>
              Model picture will be changed and continue follow the pose.
            </li>
          </ol>
        </div>
        <div class="card-footer">
          <a class="btn-navigator" href="/poseSimilarity">Play</a>
        </div>
      </div>
      
      <!-- Agility Game -->
      <div class="card">
        <div class="card-title">
          Circle Hunter
        </div>
        <div class="card-description">
          <div class="card-description-title">Instructions</div>
          <ol>
            <li>
              Positioning yourself so the bot could recognize whole body position.
            </li>
            <li>
              Keep hitting the circle using certain bodypart based on circle's color.
            </li>
          </ol>
        </div>
        <div class="card-footer">
          <a class="btn-navigator" href="/agility">Play</a>
        </div>
      </div>

      <!-- Avoid Obstacle Game -->
      <div class="card">
        <div class="card-title">
          Avoid Obstacle
        </div>
        <div class="card-description">
          <div class="card-description-title">Instructions</div>
          <ol>
            <li>
              Positioning yourself so the bot could recognize whole body position.
            </li>
            <li>
              Don't let your body touch the circle
            </li>
          </ol>
        </div>
        <div class="card-footer">
          <a class="btn-navigator" href="/agility">Play</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>